/* =========================
  Base Styles
  ========================= */
@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", system-ui;
  margin: 0;
}

.au5-btn {
  background: #2196f3;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Inter";
}

.au5-btn:hover {
  background: #0b57d0;
}
/* =========================
  Panel Layout
  ========================= */
.au5-panel {
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(to bottom, #f8fbff 0%, #f4f0ec 28%, #f4eae7 66%, #f4e8ec 100%);
}

/* =========================
  Header
  ========================= */
.au5-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e8e8e8;
}

.au5-header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.au5-header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #353637;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}

.au5-avatar img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.au5-header-info .au5-header-title {
  font-weight: bold;
  font-size: 14px;
}

.au5-header-info .au5-header-subtitle {
  font-size: 12px;
  color: #888;
}

/* =========================
  Main Container
  ========================= */

.au5-container {
  height: calc(100vh - 48px);
  overflow-y: auto;
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

/* =========================
  No Active Meeting & Active Meeting
  ========================= */

.au5-intro-title {
  font-size: 18px;
  font-weight: bold;
}

.au5-intro-text {
  text-align: center;
  font-size: 14px;
  color: #737373;
}

.au5-btn-check {
  background: transparent;
  height: 40px;
  color: black;
  border: 1px solid;
}

.au5-btn-check:hover {
  background: #eee !important;
}

.au5-btn-options,
.au5-btn-joinMeeting,
.au5-btn-reload {
  height: 40px;
  font-family: "Inter";
  width: -webkit-fill-available;
}

.au5-img {
  width: 250px;
}

/* =========================
  Transcription & Messages CHECKED
  ========================= */

#au5-activeMeeting {
  height: auto;
}

.au5-url-invalid {
  border: 1.5px solid #ea1b1b;
  padding: 8px 12px;
  border-radius: 22px;
}

.au5-url-valid {
  border: 1.5px solid #3eb46e;
  padding: 8px 12px;
  border-radius: 22px;
}

.au5-transcriptions-container {
  height: calc(100vh - 220px);
  width: -webkit-fill-available;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.au5-transcription-message {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.au5-message-avatar .au5-avatar-image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.au5-message-bubble {
  background: var(--sds-color-grey-fill2-normal, rgba(114, 118, 139, 0.06));
  border-radius: 12px;
  padding: 8px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.au5-message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.au5-message-header .au5-message-sender {
  font-weight: bold;
  font-size: 13px;
}

.au5-message-header .au5-message-time {
  font-size: 11px;
  color: #888;
  text-align: right;
}

.au5-message-text {
  font-size: 12.5px;
  direction: rtl;
}

.au5-message-reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.au5-reaction-list {
  display: flex;
  gap: 8px;
}

.au5-reaction {
  display: flex;
  gap: 4px;
  border-radius: 100px;
  cursor: pointer;
  background-color: var(--sds-color-grey-fill2-normal, rgba(114, 118, 139, 0.06));
  align-items: center;
  height: 20px;
  padding: 2px;
}

.au5-reaction-emoji {
  font-size: 12px;
  width: 18px;
  height: 18px;
}

.au5-reaction-users {
  display: flex;
  align-items: center;
}

.au5-reaction-users .au5-reaction-user-avatar:first-of-type {
  margin-left: 0;
}

.au5-reaction-user-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: -8px;
  display: flex;
  border: 1px solid #fff;
}

.au5-transcription-footer {
  display: flex;
  gap: 8px;
  align-items: center;
  width: -webkit-fill-available;
  z-index: 99999;
  background-color: #fff;
  margin: 12px;
  border-radius: 12px;
}

.au5-chat-container {
  padding: 8px;
  border-radius: 12px;
  margin: auto;
  color: white;
  width: -webkit-fill-available;
  border: 1px solid #dedede;
}

.au5-chat-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.au5-chat-editor-container {
  position: relative;
}

.au5-chat-editor {
  padding: 4px;
  min-height: 40px;
  border-radius: 10px;
  color: black;
}
.au5-chat-editor:focus {
  border: none;
  outline: none;
}

.au5-chat-editor:empty::before {
  content: "Type a message...";
  color: #888;
  position: absolute;
  pointer-events: none;
}
.au5-chat-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.au5-chat-actions {
  display: flex;
  gap: 12px;
}
.au5-chat-send-btn {
  width: fit-content;
}

.au5-join-time {
  text-align: center;
  font-size: 12px;
  color: #666;
}
